/* Colors */
.primary-color {
  color: var(--primary-color);
}
.secondary-color {
  color: var(--secondary-color);
}
.reverse-color {
  color: var(--reverse-color);
}
.light-color {
  color: var(--light-color);
}
.dark-color {
  color: var(--dark-color);
}

/* Margin and Padding */
.mg-1 {
  margin: var(--margin-1);
}
.mg-2 {
  margin: var(--margin-2);
}
.mg-3 {
  margin: var(--margin-3);
}
.mg-4 {
  margin: var(--margin-4);
}
.mg-auto {
  margin: auto;
}
.pd-1 {
  padding: var(--padding-1);
}
.pd-2 {
  padding: var(--padding-2);
}
.pd-3 {
  padding: var(--padding-3);
}
.pd-4 {
  padding: var(--padding-4);
}


/* Text */
.tx-center {
  text-align: center;
}
.tx-bold {
  font-weight: bold;
}

/* Background */
.bg-primary {
  background: var(--primary-color);
}
.bg-secondary {
  background: var(--secondary-color);
}
.bg-reverse {
  background: var(--reverse-color);
}
.bg-light {
  background: var(--light-color);
}
.bg-dark {
  background: var(--dark-color);
}

/* Headers */
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.6rem;
}

/* Flexbox */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-align-center {
  align-items: center;
}

/* Positions */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-sticky {
  position: sticky;
}

